.env
/__pycache__
/pgdata
/bot/__pycache__
/bot/db/__pycache__
/bot/db/migrations/__pycache__
/bot/db/migrations/versions/__pycache__
/notebooks
/bot/handlers/__pycache__
/.pytest_cache
/tests/__pycache__
/script/__pycache__
