/venv
.env
/__pycache__
/handlers/__pycache__
sqdb/__pycache__
/sqdb/sqdatabase.py
docker_commands.txt
/pgdata
/logger/__pycache__
/bot/__pycache__
/bot/db/__pycache__
/bot/db/migrations/__pycache__
/bot/db/migrations/versions/__pycache__
